VITE_FIREBASE_API_KEY=AIzaSyA3N-HQseI0gVZ6CHtAYMX5dXi57jJjJUA
VITE_FIREBASE_DB_URL=https://driver-72b57-default-rtdb.asia-southeast1.firebasedatabase.app/
VITE_FIREBASE_PROJECT_ID=driver-72b57
VITE_BACKEND_URL=http://localhost:5000
