VITE_FIREBASE_API_KEY=your_firebase_api_key_here
VITE_FIREBASE_DB_URL=https://your-project-id-default-rtdb.asia-southeast1.firebasedatabase.app/
VITE_FIREBASE_PROJECT_ID=your-project-id
VITE_BACKEND_URL=http://localhost:5000
